.tilt_wrapper {
    perspective: 1000px;
    display: inline-block;
    width: 330px;
}

.tilt_effect_image {
    height: 200px;
    width: 310px;
    transition: transform 0.2s ease;
    transform-style: preserve-3d;
    will-change: transform;
    cursor: pointer;
}

.tilt_effect_image_7{
    height: 200px;
    width: 130px;
    transition: transform 0.2s ease;
    transform-style: preserve-3d;
    will-change: transform;
}

.disappear{
    display: none;
}