.title_image_container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.title_container{
    display: inline-block;
}

.title span {
    opacity: 0;
    display: inline-block;
    transition: transform 0.7s, color 0.35s;
    animation: fadeIn 0.6s forwards;
}

.title{
  margin: 4px;
}

.subtitle{
  margin: 4px;
}

.subtitle span {
    opacity: 0;
    display: inline-block;
    transition: transform 0.7s, color 0.35s;
    animation: fadeInReverse 0.08s forwards;
}

.profile_image{
    height: 400px;
    width: 400px;
}

.title span:hover {
  color: aqua;
}

.subtitle span:hover {
  color: aqua;
}

@keyframes fadeIn {
    to {
      opacity: 1;
    }
    from {
      opacity: 0;
    }
}

@keyframes fadeInReverse {
    to {
      opacity: 1;
    }
    from {
      opacity: 0;
    }
}